.roundedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  box-shadow: -1px 1px 6px #8b8b8b75;
  .content {
    padding: 20px;
    &:hover {
      transition: 1s ease;
      transform: rotate(360deg);
    }
  }
}