@import '../display.scss';
@import '../color.scss';

.home {
  display: flex;
  flex-direction: column;
  .homeScreen {
    min-height: 100vh;
  }
  .introduction {
  }
  .history { }
  .travel {
  }
  .aboutMe {
    min-height: 80vh;
  }
  .quote { }
  .team {
  }
  .skills {
    min-height: 120vh;
  }
  .after {
    background-color: $primary-color;
  }

  .bigquote {
    height: 80vh;
    background-color: #73C3D0;
  }
  .route {
    @media screen and (min-width: $tablet-breakpoint) {
      min-height: 120vh;
    }
    @media screen and (max-width: $tablet-breakpoint) {
      min-height: 0;
    }
  }
  .news {
    @media screen and (min-width: $mobile-breakpoint) {
    }
    @media screen and (max-width: $mobile-breakpoint) {
    }
  }
  .partners {
    min-height: 70vh;
  }
  .photos {
    @media screen and (min-width: $mobile-breakpoint) {
    }
    @media screen and (max-width: $mobile-breakpoint) {
    }
  }
  .newsletter {
  }
  .footer {
    overflow: hidden;
    min-height: 70vh;
    @media screen and (min-width: $mobile-breakpoint) {
      height: 40vh;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      height: 90vh;
    }
  }
}
