@import '../display.scss';

.home {
  display: flex;
  flex-direction: column;
  .homeScreen {
    min-height: 100vh;
  }
  .introduction {
    min-height: 120vh;
  }
  .history {
    min-height: 120vh;
  }
  .travel {
  }
  .aboutMe {
    min-height: 120vh;
  }
  .quote {
  }
  .route {
    @media screen and (min-width: $tablet-breakpoint) {
      min-height: 120vh;
    }
    @media screen and (max-width: $tablet-breakpoint) {
      min-height: 0;
    }
  }
  .news {
    @media screen and (min-width: $mobile-breakpoint) {
      min-height: 120vh;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      min-height: 90vh;
    }
  }
  .partners {
    min-height: 70vh;
  }
  .photos {
    @media screen and (min-width: $mobile-breakpoint) {
      min-height: 120vh;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      min-height: 60vh;
    }
  }
  .newsletter {
    min-height: 50vh;
  }
  .footer {
    @media screen and (min-width: $mobile-breakpoint) {
      height: 40vh;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      height: 90vh;
    }
  }
}
