@import '../../styles/color.scss';

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: no-repeat center url('../../public/assets/images/homescreen-bg.png');
  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .socialMedias {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      margin: 50px 50px;
      > * {
        margin-top: 10px;
      }
      .separator {
        width: 3px;
        height: 40px;
        background-color: $white-color;
      }
    }
    .subTitle {
      display: inline-flex;
      :first-child {
        margin-right: 10px;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}